RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
# restricting file access
<FilesMatch "^(\.ftp-deploy-sync-state\.json|composer\.json|composer\.lock|config\.php|config\.sample\.php|migration\.php|.editorconfig)$">
    Require all denied
</FilesMatch>
# restricting floder access
<DirectoryMatch "^(app|migrations|routes|runtime|vendor)$">
    Require all denied
</DirectoryMatch>

