RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

<FilesMatch "^(composer\\.json|config\\.php|config\\.sample\\.php|migration\\.php)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
